.d-block{
    height: 89vh !important;

}
body{
    font-family:sans-serif;
}
.navbar{
    background-color: #fff !important;
    height: 80px;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}
.cards{
    display: flex;
    justify-content: space-around;
}
h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto 40px;
}
.div1{
    display: flex;
  margin-top: 30px;
    justify-content: space-around;
}
.div1 img{
    width: 350px;
}
.div1 p{
    width: 50%;
    font-size: 20px;
    padding: 20px 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.div2{
    width: 70%;
    margin: 30px auto;
}
h1{
    text-align: center;
    font-size: 40px;
}
h2{
    border-bottom: 1px solid rgb(12, 12, 193);
    padding: 5px;
    text-align: center;
    width: 70%;

    margin: 50px auto 30px;
}
article div{
    width: 70%;
    margin: 10px auto 40px;
}
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer a {
    color: #ffdd57;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .contact-info {
    margin: 10px 0;
}
.footer .social-media {
    margin: 10px 0;
}
.footer .social-media a {
    margin: 0 10px;
}
@media (min-width: 600px) {
    .footer .container {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer .contact-info, .footer .social-media {
        margin: 0;
    }
}